<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">        <!--thymeleaf 문법을 사용하기 위해 추가 -->

    <div class="footer" th:fragment="footer">      <!--다른 페이지에 포함시킬 영역을 th:fragment로 선언
                                                        footer 영역을 fragment로 만듦-->
        <footer class="page-footer font-small cyan darken-3">
            <div class="footer-copyright text-center py-3">
                2020 Shopping Mall Example WebSite
            </div>
        </footer>
    </div>

</html>